apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: citrusops
spec:
  selector:
    app: client
  ports:
    - port: 3000
      targetPort: 3000
  type: LoadBalancer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: citrusops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: mraza176/citrusops-client:v3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_BACKEND_URL
              value: "http://20.6.65.84:8000"
            - name: NEXT_PUBLIC_BACKEND_WS_URL
              value: "ws://20.6.65.84:8000"
