apiVersion: apps/v1
kind: Deployment
metadata:
  name: cronjob
  namespace: citrusops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cronjob
  template:
    metadata:
      labels:
        app: cronjob
    spec:
      containers:
        - name: cronjob
          image: citrusops-cronjob:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: MONGODB_URI
              value: "mongodb://mongouser:mongopassword@mongo:27017"
            - name: REDIS_URI
              value: "redis://redis:6379"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
